{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wacky Widgets</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
    <h1> Wacky Widgets </h1>

    {% if Widgets_list|length == 0 %}

    <h3> No Widgets Exist </h3>

    {% else %}
    <table class="pure-table pure-table-striped">
        <tr>
            <th>Description</th>
            <th>Quantity</th>
            <th>Delete</th>
        </tr>  
        {% for widgets in Widgets_list %}
        <tr>
            <td>{{widgets.description}}</td>
            <td>{{widgets.quantity}}</td>
            <td><a href='{{widgets.id}}/delete'>X</a></td>
        </tr> 
        {% endfor %}
    </table>
    {% endif %}
<hr/>



<h4>Add Widgets</h4>
<form class='pure-form' action="" method="post">
    {% csrf_token %}
    <table>
    {{ form.as_table }}
    </table>
    <input class='pure-button' type="submit" value="Add Widget" >
</form>
</body>
</html>